extends base.pug

block head
	link(rel='stylesheet' href='/css/style.css')
	script(src="/jquery/jquery.min.js")
	script(src="/moment/min/moment.min.js")
	script(src="/js/script.js")

block prepend title
	- title = `Room: ${room.number}`

block contents
	input(type='hidden', value=display.ip).ip
	input(type='hidden', value=display.slug).slug
	#container(style='display:none;')
		#display
			header
				.brand
					img(src=`/imgs/${room.brand}.svg`)
				.datetime
					p.date
					p.time
			#title
				h1=room.number
				h2=room.name
			
			- i
			.events
				- i = 0;
				if events[0]
					if moment(events[0].start).isBefore(moment())
						+event(i++, events[0], true)
					else
						.event
							+tense(i++)
							+free({until: events[0].start})
							input(type='hidden' id='refresh' value=moment(events[0].start).toISOString())
						.event
							+event(i++, events[0], true)
				else
					.event
						+tense(i++)
						+free
						
				if events[1]
					+event(i++, events[1])
				else if events[0]
					.event
						+tense(i++)
						+free({from: events[0].end})
				
				if i < 3
					if events[2]
						+event(i++, events[2])
					else if events[1]
						.event
							+tense(i++)
							+free({from: events[1].end})
